<div class="home-page container-fluid no-padding">
    <div class="filter-header"  id="search-skill">
        <div class="site-bg-color"></div>

        <div ng-include src=" 'partials/user/home/navbar.html' "></div>

        <!---------------------- Login Page ----------------------------------->
        <div class="container-fluid" id="aboutus">
            <div class="">
                <div class="row form-container">
                    <div class="col-lg-12">
                        <div class="row text-center margin-bottom-20">
                            <div class="col-lg-12">
                                <h1 class="page-title has-subtitle center"> Welcome to <span class="special">SkillCafe</span> </h1>
                                <h2 class="text-center">SkillCafe is the first analytics application for jobs and skills</h2>

                            </div>
                        </div>
                        <div class="row margin-bottom-40" >
                            <div class="col-lg-4">
                                <div id="map" data-tap-disabled="true" style="height:500px"></div>

                            </div>
                            <div class="col-lg-8">
                                <h2>Our Mission</h2>
                                <hr/>
                                <p> Our mission is to change the way that people discover new job opportunities. We were born from the belief that job seeking industry needs innovation, even after decades people still create boring job descriptions and boring resumes.
                                    People are spending so much time searching for jobs based on keywords and tons of filters that it discourages them from looking entirely. With our unique skill and strength based job matching algorithm, you can find a job in half the time!
                                </p>
                                <h2>Team Overview</h2>
                                <hr/>
                                <p> We're a group of developers, designers, mathematicians, data scientists and researchers that work relentlessly to analyze jobs, skills and users strength
                                    to connect user to a job which is <b>skill fit </b> and <b>culture fit</b>.
                                </p>
                                <div class="container-fluid">
                                <h2>Contact Us</h2>
                                                    <hr/>
                                <div class="row margin-bottom-40 contacts" >
                                        <div class="col-lg-6">
                                            <div class="panel panel-success" draggable="true">
                                                <div class="panel-heading text-center">
                                                    <h3>SkillCafe USA Office</h3>
                                                </div>
                                                <div class="list-group bg-white contacts">
                                                    <a href="mailto:sales@skillcafe.com" class="list-group-item">
                                                        <i class="fa fa-fw fa-envelope"></i>
                                                        sales@skillcafe.com
                                                    </a>

                                                    <a href="" class="list-group-item">
                                                        <i class="fa fa-fw fa-phone"></i>  +1 425-445-6380
                                                    </a>

                                                </div>
                                                <div class="panel-footer">
                                                    <ul class="list-inline text-center">
                                                        <li class="margin-right-20"><a class="fa fa-twitter" href="https://twitter.com/SkillCafe7" title="SkillCafe on twitter"></a></li>
                                                        <li class="margin-right-20"><a class="fa fa-facebook" href="https://www.facebook.com/pages/SkillCafe/1427886697464564"
                                                                                       title="SkillCafe on facebook"></a></li>
                                                        <li class="margin-right-20"><a class="fa fa-google-plus" href="https://plus.google.com/103767934619147067562/about" title="SkillCafe on G+"></a>
                                                        </li>
                                                        <li class="margin-right-20"><a class="fa fa-linkedin" href="https://www.linkedin.com/company/skillcafe"
                                                                                       title="SkillCafe on LinkedIn"></a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row cafe-recruiter">
                <div class="row margin-bottom-20">
                    <div class="col-lg-12">
                        <p></p>
                        <h2 class="text-center"> Research your next job</h2>
                        <div class="lg-login-btn col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <a class="btn btn-orange btn-lg" href="mailto:mahesh@skillcafe.com">Quick Email</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!----------------------Footer --------------------------->
<div ng-include src=" 'partials/footer.html' ">

</div>
<!----------------------Footer --------------------------->