<div class="home-page container-fluid no-padding">
    <div class="filter-header"  id="search-skill">
        <div class="site-bg-color"></div>

        <div ng-include src=" 'partials/user/home/navbar.html' "></div>

        <!---------------------- Login Page ----------------------------------->
        <div class="container" id="aboutus" data-my="page">
            <div class="">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row text-center margin-bottom-20">
                            <div class="col-lg-12">
                                <h1 class="page-title has-subtitle center"> Write to <span class="special">SkillCafe</span> </h1>
                                <h2 class="text-center">We will be happy to hear from you</h2>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-40 contacts" >
                    <div class="col-lg-12">
                        <div class="panel panel-success" draggable="true">
                            <div class="panel-heading text-center">
                                <h3>SkillCafe USA Office</h3>
                            </div>
                            <div class="list-group bg-white contacts">
                                <a href="mailto:sales@skillcafe.com" class="list-group-item">
                                    <i class="fa fa-fw fa-envelope"></i>
                                    sales@skillcafe.com
                                </a>

                                <a href="" class="list-group-item">
                                    <i class="fa fa-fw fa-phone"></i>  +1 425-445-6380
                                </a>

                            </div>
                            <div class="panel-footer">
                                <ul class="list-inline text-center">
                                        <li class="margin-right-20"><a class="fa fa-twitter" href="https://twitter.com/SkillCafe7" title="SkillCafe on twitter"></a></li>
                                        <li class="margin-right-20"><a class="fa fa-facebook" href="https://www.facebook.com/pages/SkillCafe/1427886697464564"
                                               title="SkillCafe on facebook"></a></li>
                                        <li class="margin-right-20"><a class="fa fa-google-plus" href="https://plus.google.com/103767934619147067562/about" title="SkillCafe on G+"></a>
                                        </li>
                                        <li class="margin-right-20"><a class="fa fa-linkedin" href="https://www.linkedin.com/company/skillcafe"
                                               title="SkillCafe on LinkedIn"></a>
                                        </li>
                                    </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row cafe-recruiter">
                <div class="row margin-bottom-20">
                    <div class="col-lg-12">
                        <p></p>
                        <h2 class="text-center">Research your next job</h2>
                        <div class="lg-login-btn col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <a class="btn btn-orange btn-lg" href="mailto:mahesh@skillcafe.com">Quick Email</a>
                        </div>
                    </div>
                </div>
        </div>


        <!----------------------Footer --------------------------->
        <div ng-include src=" 'partials/footer.html' ">

        </div>
        <!----------------------Footer --------------------------->