
<footer id="site-footer" class="clear">
    <nav>
        <ul class="list-group list-group-lg m-b-none">
            <li class=" bg-transparent clearfix"><a ui-sref="aboutus" title="About SkillCafe">About Us</a></li>
            <li class=" bg-transparent clearfix"><a href="http://skillcafe.userecho.com" title="Support" target="_blank">Support</a></li>
            <li class=" bg-transparent clearfix"><a ui-sref="contactus" title="Contact us">Contact Us</a></li>
            <!--<li class=" bg-transparent clearfix"><a href="http://blog.SkillCafe.com/" title="SkillCafe Blog" target="_blank">Blog</a></li>-->
        </ul>
        <ul class="social-links">
            <li class=" bg-transparent clearfix"><a class="fa fa-facebook" href="https://www.facebook.com/pages/SkillCafe/1427886697464564"
                   title="SkillCafe on facebook" target="_blank"></a></li>
            <li class=" bg-transparent clearfix"><a class="fa fa-twitter" href="https://twitter.com/SkillCafe7" title="SkillCafe on twitter" target="_blank"></a></li>
            <li class=" bg-transparent clearfix"><a class="fa fa-google-plus" href="https://plus.google.com/103767934619147067562/about" title="SkillCafe on G+" target="_blank"></a>
            </li>
            <li class=" bg-transparent clearfix"><a class="fa fa-linkedin" href="https://www.linkedin.com/company/skillcafe"
                   title="SkillCafe on LinkedIn" target="_blank"></a></li>
        </ul>
        <div class="additional-info">
            <ul class="list-group list-group-lg m-b-none">
                <!--<li class=" bg-transparent clearfix"><a href="explorer/skills" title="category index">Skills Index</a></li>-->
                <li class=" bg-transparent clearfix"><a ui-sref="jobindex" title="job index">Job Index</a></li>
                <li class=" bg-transparent clearfix"><a ui-sref="privacy" title="privacy policy">Privacy Policy</a></li>
                <li class=" bg-transparent clearfix"><a ui-sref="terms" title="terms of use">Terms of Use</a></li>
            </ul>
            <div class="copyright">&copy; SkillCafe 2015 All Rights Reserved</div>
        </div>
    </nav>
</footer>