<div class="col-lg-offset-2 col-lg-8 site-forgot-password" >
    <div class="row form-container">
        <form method="POST" id="form3"></form>
        <div class="col-lg-offset-2 col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        Forgot your password?
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        No worries, just enter your email below.
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <fieldset>
                        <input
                                type="email"
                                placeholder="Email"
                                name="email"
                                form="form3"
                                autofocus="autofocus" />
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <fieldset>
                        <button
                                type="submit"
                                class="btn btn-primary btn-lg"
                                form="form3">
                            Reset my password
                        </button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>