<!--  //////////////////////////////////// -->
        <!-- /////////// HOW ITS WORK /////////// -->
        <!--//////////////////////////////////// -->
        <div
            class="
            col-lg-10
            col-md-10
            col-sm-10
            col-xs-10
            col-md-offset-1
            col-lg-offset-1
            col-sm-offset-1
            col-xs-offset-1
            margin-top-15
            guide-how-work"
            ng-if="!jobsListCard">
            <h2 class="text-center">HOW IT WORKS</h2>
            
            <div class="how-it-work-list">
                <!-- Item 1 -->
                <div class="how-it-work-item item-skills">
                    <div
                        class="col-lg-2 col-md-2 col-sm-4 col-xs-4 no-padding">
                        <img
                        style="width:100%"
                        src="../../img/how_it_work_skills.png">
                    </div>
                    <div
                    class="col-lg-9 col-md-9 col-sm-7 col-xs-7 description" style="margin-top:3%">
                        <div
                                class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-11">
                                <h3>Find out what skills you need for a job</h3>
                                <p class="no-margin">
                                    We analyze millions of job posting to find out what skills are in the
                                    highest demand for specific jobs. <span class="hidden-sm hidden-xs">Select a job title above and start searching.</span>
                                </p>
                            </div>
                        </div>
                        <div
                                class="row">
                            <div class="
                            col-lg-3
                            col-lg-offset-10
                            col-md-4 col-md-offset-9 col-sm-7 col-xs-7 margin-left-63percent margin-left-55percent">
                                <button
                                        ng-click="openFindSkillsetModal()"
                                        class="btn search-btn width-96 padding-top-4 padding-bottom-3 font-color-white padding-left-0 font-size-1em height-2dot5em" type="button">
                                    <i class="glyphicon glyphicon-wrench font-size-medium"></i> &nbsp; Find Skillset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="how-it-work-item item-location">
                    <div
                        class="col-lg-2 col-md-2 col-sm-4 col-xs-4 no-padding">
                        <img
                        style="width:100%"
                        src="../../img/how_it_work_location.png">
                    </div>
                    <div
                        class="col-lg-9 col-md-9 col-sm-7 col-xs-7 description" style="margin-top:3%">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-11">
                                <h3>
                                    Find out where your skills are in the highest demand
                                </h3>
                                <p
                                        class="no-margin">
                                    Based on your skills we can tell you where you will most likely find a job.
                            <span class="hidden-sm hidden-xs">
                            Select one or more skills above and we will show you which locations around the
                            world have the most jobs for which your skills are required.
                            </span>
                                </p>
                            </div>
                        </div>
                        <div
                                class="row">
                            <div class="col-lg-3 col-lg-offset-10 col-md-4 col-md-offset-9 col-sm-7 col-xs-7 margin-left-63percent margin-left-55percent">
                                <button
                                        ng-click="openFindLocationModal()"
                                        class="btn search-btn width-96 padding-top-4 padding-bottom-3 font-color-white padding-left-0 find-location font-size-1em height-2dot5em" type="button">
                                    <i class="fa fa-map-marker font-size-medium"></i> &nbsp; Find Location
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="how-it-work-item item-jobs">
                    <div
                        class="col-lg-2 col-md-2 col-sm-4 col-xs-4 no-padding">
                        <img
                        style="width:100%"
                        src="../../img/how_it_work_jobs.png">
                    </div>
                    <div
                        class="col-lg-9 col-md-9 col-sm-7 col-xs-7 description" style="margin-top:3%">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-11">
                                <h3>Find out what jobs match your skillset best
                                </h3>
                                <p class="no-margin">
                                    Based on your skills we can tell you what jobs and job titles match your skills
                                    the best.
                            <span class="hidden-sm hidden-xs">
                                Start by selecting one or more skills above.
                            </span>
                                </p>
                            </div>
                        </div>
                        <div
                                class="row">
                            <div class="col-lg-3 col-lg-offset-10 col-md-4 col-md-offset-9 col-sm-7 col-xs-7 margin-left-63percent margin-left-55percent">
                                <button
                                        class="btn search-btn width-96 padding-top-4 padding-bottom-3 font-color-white padding-left-0 find-jobs font-size-1em height-2dot5em" type="button">
                                    <i class="fa fa-user font-size-medium"></i> &nbsp; Find Jobs
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  //////////////////////////////////// -->
        <!-- /////////// HOW ITS WORK /////////// -->
        <!--//////////////////////////////////// -->