<div class="row margin-top-160-for-768">
    <div class="
        col-md-3 col-md-offset-0 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1 scroll skill-background margin-top-16 overflow-y-scroll overflow-x-hidden height-636
    " ng-include="templateView.topSkillsTitle"></div>
    <div
        class="
        col-md-8 col-sm-11 col-xs-11  margin-left-1dot-5percent padding-right-0
        ">
        <div ng-include="templateView.jobsCountAndCountry"></div>
        <!-- SIMPLE MAP -->
        <map zoom="5" style="height:460px;">
        </map>
    </div>
</div>