<div class="home-page container-fluid no-padding">

<!----------------------------- Top-Nav Header---------------------------->
<!-- <div ng-include src=" '/partials/user/panel-components/navbar.html' "></div> -->

<!----------------------Header Filter--------------------->
<div class="row">
    <div class=""  data-my="page">
            <div class="row ">
                <div ui-view></div>
            </div>
        </div>
</div>
<!--<div ng-include src=" '/partials/footer.html' "></div>-->
</div>
