<div class="text-center text-danger">{{strError}}</div>
<div class="row">
    <div class="col-sm-2">
        Skill :
    </div>
    <div class="col-sm-8">
        <input type="text" ng-model="name" class="form-control"/>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        Strength :
    </div>
    <div class="col-sm-8">
        <input type="text" ng-model="strength" class="form-control"/>
    </div>
</div>

<input type="button" class="btn btn-success" value="Update" ng-click="fnConfirmEditSkill()"/>
<input type="button" class="btn btn-danger" value="Cancel" ng-click="fnCancelEditSkill()"/>