<div class="home-page container-fluid no-padding">
    <div class="site-main">
        <div class="site-bg-color"></div>

        <div ng-include src=" '/partials/recruiter/home/navbar.html' "></div>

        <!---------------------- Login Page ----------------------------------->
        <div class="container margin-top-50" id="login" data-my="page">
            <div class="row site-form">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>


<!----------------------Footer --------------------------->
<div ng-include src=" 'partials/footer.html' ">

</div>
<!----------------------Footer --------------------------->
