<div off-click="showSkills = false">
    {{searchInfo.callback}}
    <div class="
            bg-white 
            margin-right-3 
            padding-10 padding-left-5percent">

        <i class="fa fa-wrench"></i>
        <div class="inline-block width-90 padding-left-1percent">

            <input 
                type="text"
                placeholder="Skills" 
                class="skill-filter-input no-border bg-transparent margin-0 location-filter-input" 
                ng-model="searchInfo.inputValue"  
                ng-enter="addNewSkills(searchInfo.callback_results, searchInfo.inputValue)"
                ng-focus="showSkills = true"
                ng-keypress="searchInfo.callback(searchInfo)" 
                />

        </div>
    </div>
    <div 
        collapse="!showSkills" ng-if="searchInfo.callback_results.length>1"> 
        <div class="skill-select-container inline-block padding-bottom-15">
            <div>
                 <div 
                    class="col-lg-12 margin-top-15" 
                    ng-repeat="skill in searchInfo.callback_results | filter:searchInfo.inputValue">
                    <!-- <input 
                        type="checkbox" 
                        ng-click="activeSkill(skill)" 
                        ng-model="skill.active"/> -->
                    <checkbox 
                        ng-model="skill.active">
                    </checkbox>
                    <p class="inline-block margin-bottom-0">{{skill.name}}</p>
                </div> 
            </div>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </div>
    </div>
</div>